.footer-main{
    display: flex;
    justify-self: end;
    min-height: 100px;
    justify-content: center;
    background-color: rgb(0, 0, 66);
}
.footer-text{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
}